$bg-color0: #354332;
$bg-color1: #cad9c6;
$bg-color2: #dbe0d9;
$bg-color3: #56764f;

$fg-color1: #000000;
$fg-color2: #000000;
$fg-color3: #000000;

$btn-color0: #1b630d;

$border-color0: #1b630d;

$text-color: #43bb28;
$text-color-light: #1b630d;

$temp0: $bg-color0;
@function padding_inside($whole, $padding) {
  @return calc(#{$whole} - #{$padding * 2})
}

@function padding_inside_each($whole, $paddings) {
  $pad: 0;
  @each $padding in $paddings {
    $pad: $pad + $padding;
  }
  @return calc(#{$whole} - #{$pad * 2})
}

@function padding_inside_depth($whole, $padding, $times) {
  @return calc(#{$whole} - #{$padding * 2 * $times})
}

@function padding_outside($whole, $padding) {
  @return calc(#{$whole} + #{$padding * 2})
}

* {
  margin: 0;
  padding: 0;
}

root {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: $bg-color1;
}

img {
  width: 100%;
  height: 100%;
}

.fill_content {
  width: 100%;
  height: 100%;
}

.text_normal {
  color: $text-color;
}

.text_light {
  color: $text-color-light;
}
