@use "sass:math";
@import "../App";

.side_page_container {
  $num_of_rows: 11;
  $row_height: calc(100% / #{$num_of_rows});
  width: math.div(100vw, 3);
  height: 100vh;
  background-color: $bg-color1;
  vertical-align: top;
  display: inline-block;

  .side_panel_root_container {
    $root_con_padding: 50px;
    $root_con_padding_w: 25px;
    $root_con_border: 7px;
    border: solid $border-color0 $root_con_border;
    width: padding_inside_each(100%, [$root_con_padding,$root_con_border]);
    height: padding_inside_each(100%, [$root_con_padding,$root_con_border]);
    padding: $root_con_padding $root_con_padding_w;

    .side_panel_root {
      background-color: $bg-color1;
      height: 100%;
      width: 100%;

      .side_panel_row_container {
        $icon_size: 50px;
        $row_padding: 8px;
        $padding: 5px;
        width: padding_inside(100%, $row_padding);
        height: padding_inside($row_height, $row_padding);
        horiz-align: left;
        display: inline-block;
        padding: $row_padding;

        .login_row_container {
          display: inline-block;
          vertical-align: top;
          height: 100%;
          width: 100%;

          .login_row {
            $button_border: 5px;
            $row_border: 8px;
            display: inline-block;
            vertical-align: top;
            height: padding_inside(100%, $row_border);
            width: padding_inside(100%, $row_border);
            padding: $row_border;

            .login_btn_container {
              display: inline-block;
              height: padding_inside(100%, $button_border);
              width: padding_inside(45%, $button_border);
              background-color: $bg-color0;
              padding: $button_border;
              margin-right: auto;
              margin-left: 0;

              .login_btn {
                height: 100%;
                width: 100%;
                background-color: $bg-color1;
                color: $bg-color0;
                text-align: center;

                text {
                  vertical-align: center;
                  font-size: larger;
                  font-weight: bold;
                }
              }
            }

            .signup_btn_container {
              height: padding_inside(100%, $button_border);
              width: padding_inside(45%, $button_border);
              margin-right: 0;
              margin-left: auto;
              horiz-align: right;
              float: right;
              background-color: $bg-color0;
              padding: $button_border;
              display: inline-block;

              .signup_btn {
                height: 100%;
                width: 100%;
                background-color: $bg-color0;
                color: $bg-color1;
                text-align: center;

                text {
                  vertical-align: center;
                  font-size: larger;
                  font-weight: bold;
                }
              }
            }
          }
        }

        .side_panel_row_icon_container {
          display: inline-block;
          width: $icon_size + $padding*2;
          height: 100%;
          padding: $padding;

          .side_panel_row_icon {
            display: block;
            vertical-align: center;
            margin: auto;
            width: $icon_size;
            height: $icon_size;
          }
        }

        .side_panel_row_content_container {
          display: inline-block;
          vertical-align: top;
          width: calc(100% - #{$icon_size} - #{$padding} * 2 - #{$row_padding} * 2);
          height: 100%;

          .side_panel_row_content {
            color: $text-color;
            font-size: 1.5em;
            font-weight: bold;
            display: block;
            text-align: left;
          }
        }
      }
    }
  }
}


